body {
    width: auto;
    height: auto;
    background: #F6FAFD;
    ;
}

.container {
    max-width: 620px;
    margin: 0 auto;
    background: #fff;
    padding: 26px 16px 56px;
    border-radius: 16px;
}

.notify {
    display: flex;
    align-items: end;
    gap: 383px;
    margin-bottom: 23px;
}

.title-notify {
    display: flex;
    gap: 10px;
}

.text {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.btn {
    padding: 4px 9px;
    border-radius: 8px;
    background: #0A317B;
    color: #DDE7EE;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.read-all-notify {
    color: #5E6778;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.list-notifi {
    cursor: pointer;
}

.list-unread {
    display: flex;
    gap: 16px;
    border-radius: 8px;
    background: #F7FAFD;
    margin: 0 0 16px 0;
}

img {
    padding: 16px 0 16px 16px;
}

.avata img {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-left: 205px;
}

.name {
    color: #1C202B;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.2px;
}

.status {
    color: #5E6778;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.2px;
}

.club {
    color: #5E6778;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.2px;
}

.btn-notify{
    padding: 4px;
    border-radius: 8px;
    background: red;
}

.time {
    color: #939DAE;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
}

.title{
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.sub-title {
    border-radius: 4.8px;
    border: 1px solid #E5EFFA;
    margin: 17px 16px 16px 0;

}

.sub-title div {
    margin: 16px 42px 15px 16px;
    color: #5E6778;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
}

.list-read {
    display: flex;
    gap: 16px;
    margin: 16px;
    margin: 0 0 16px 0;
}

.title-read {
    margin: 16px 0;
}


@media screen and (max-width: 768px) {

    body{
        margin: 0;
    }
    .notify {
        display: flex;
        align-items: end;
        gap: 112px;
        margin-bottom: 23px;
    }

    .btn {
        padding: 3px 9px;
        font-family: Roboto, sans-serif;
        font-size: 16px;
    }

    .list-read {
        
        gap: 16px;
        margin: 16px;
        margin: 0 0 16px 0;
    }
    .avata img {
        margin-left: 20px;
    }
    .title{
        justify-content: center;
        margin-right: 43px;
    }
    
}