body {
    width: auto;
    height: auto;
    background: #F6FAFD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 620px;
    margin: 0px auto;
    background: #fff;
    padding: 26px 16px 56px;
    border-radius: 16px;
}

.title-notify {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
}

.title {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 26px 16px;
}

.sub-title {
    padding-left: 340px;
    color: #5E6778;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.sub-title:hover {
    color: #000;
}

.btn {
    padding: 4px 9px;
    border-radius: 8px;
    color: #DDE7EE;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: #0A317B;
}

/* .list-notify{
   padding: 23px 16px;
} */
.list-unread {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 16px;
    background-color: #F7FAFD;
    border-radius: 8px ;
}

.color-unread {
    background-color: #FFF;
}

.list-none {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
}

.hasandu {
    margin-bottom: 100px;
}

.nathan{
    margin-bottom: 28px;
}

.kimberly{
    margin-bottom: 15px;
}

.text-time {
    margin-bottom: 24px;
}

.text-time-kimberly{
    margin-bottom: 12px;
    display: flex;
    
}

.annakim{
    margin-bottom: 25px;
}

.avata img {
    padding: 0px;
    margin-left: 201px;
}

img {
    padding: 16px;
}

.time {
    display: block;
    color: #939DAE;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;

}

.name {
    color: #1C202B;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.status {
    color: #5E6778;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.club {
    color: #5E6778;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 700;
}


.sub-text {
    border-radius: 4.8px;
    border: 1px solid #E5EFFA;
    padding: 7px 0px;
}

.sub-text div {
    width: auto;
    padding: 17px 6px 16px 17px;
    color: #5E6778;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.btn-notify img {
    margin-bottom: -15px;
    margin-left: -10px;
}


@media screen and (max-width: 768px) {
    body {
        margin: 0px;
    }
    .container {
        padding: 24px 16px 85px;
    }

    .title {
        padding: 24px 10px 0 16px;
    }

    .sub-title {
        padding-left: 102px;
    }

    .sub-text div {
        text-align: left;
        padding: 17px;
    }

    .hasandu {
        margin-bottom: 170px;
    }

    .text-time {
        margin-top: 12px;
    }
    .text-time-kimberly{
        margin-bottom: 12px;
        display: flex;
        
    }

    .btn-notify img {
        margin-bottom: -15px;
        margin-left: -10px;
    }

    .avata img {
       
        margin-left: 0px;
    }
    .btn {
        padding: 3px 9px;
        border-radius: 8px;
        color: #DDE7EE;
        font-family: Roboto,sans-serif;
        font-size: 16px;
        font-weight: 400;
        background: #0A317B;
    }
}