body{
    width: auto;
    height: auto;
    background: #F6FAFD;
}
.container{
    width: 620px;
    margin: 50px auto;
    background: #fff;
    padding: 26px 16px 56px; 
}
.title-notify{
    display: flex;
}
.title{
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 26px 10px 0 16px;
}
.sub-title{
    padding-left: 328px;
    color: #5E6778;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.btn{
    padding: 4px 9px;
    border-radius: 8px;
    background: #0A317B;
    color: #fff;
}
.list-notify{
   padding: 23px 16px;
}
.list{
    display: flex;
    align-items: center;
    gap: 16px;
    background: #F7FAFD;
      
}
.list-none{
    display: flex;
    align-items: center;
    gap: 16px;
      
}
.avata img{
    padding: 0px;
    margin-left: 175px;
    margin-bottom: -20px;
}

img{
    padding: 16px;
}
.time{
    display: block;
    color: #939DAE;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.2px;
}


.name{
    color: #1C202B;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.2px;
}
.status{
    color: #5E6778;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.2px;
}
.club{
    color: #5E6778;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.2px;
}


.sub-text{  
    border-radius: 4.8px;
    border: 1px solid #E5EFFA;
    padding: 7px 0px;
}
.sub-text div{
    padding: 17px 43px 16px 17px;
    color: #5E6778;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
}
.btn-notify img{
    margin-bottom: -15px;
    margin-left: -15px;
}


@media screen and (max-width: 768px) {
    .container{
        padding: 24px 16px 85px; 
    }

    .title{
        padding: 24px 10px 0 16px;
    }
    .sub-title{
        padding-left: 65px;
    }
}